@import 'tailwindcss';

:root {
  --background: #f7fafc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
}

div {
  padding: 4px;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
